@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: moon;
    src: url(../fonts/moon_get-Heavy.otf);
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.otf);
}

body {
	overflow-x: hidden;
}
a {
	color: #666;
}
body:not(.custom-background-image):before, body:not(.custom-background-image):after {
	display: none;
}
a:hover,
a:active,
a:hover p,
.site_heading_1 a:hover,
.site_heading_1 a:active,
.site_heading_1 a:focus,
.main-navigation a:hover, .main-navigation a:focus {
	text-decoration: none!important;
}
.site {
	margin: 0!important;
}
.site-header {
	padding: 0!important;
}
.site_heading_1 {
	margin: 0 auto;
	padding: 50px 0 20px;
	width: fit-content;
	font-size: 60px;
	font-weight: bold;
}
.site_heading_1 a {
    font-family: "moon";
	text-transform: uppercase;
	color: #000!important;
	text-decoration: none!important;
}
.site_heading_1 span {
	font-size: 16px;
	text-align: right;
	display: block;
	font-weight: normal;
}
.heading_above {
	background-color: #fdc92c;
}
.site-header-main {
	background-color: #000;
	margin-bottom: 20px;
}
.site-header-main a {
	color: #fff;
	padding: 10px 20px;
}
.site-header-main a:hover {
	background-color: #fff;
	color: #000;
}
a:hover {
	opacity: .9;
}
.main-navigation a, .main-navigation a {
	border-bottom: 1px solid transparent;
}
.main-navigation a:hover, .main-navigation a:focus {
	border-bottom: 1px solid #666;
}
.site-header-menu {
	width: fit-content;
	margin: 0 auto;
}
.site-header-menu span {
	display: block;
	margin: 0 auto 3px;
	height: 2px;
	background-color: #666;
}
.hamburger,.menu-toggle:hover, .menu-toggle:focus {
	background-color: #fff;
}
.main-navigation ul li {
	display: inline-block;
	float: none!important;
}
.home_page {
	padding: 20px 0;
}
.home_page h1 {
	font-family: "moon";

	color: #000;
    text-align: center;
    padding: 0 40px 15px;
    margin: 40px auto 30px;
    width: fit-content;
}
.home_page .ads {
	margin-bottom: 15px;
}
.home_item {
	margin-bottom: 15px;
}
.home_item p {
	margin: 5px 0;
	font-size: 14px;
}
.feature_area .home_title {
	font-size: 30px!important;
}
.feature_area p {
	font-size: 20px!important;
}
.feature_area .author {
	font-size: 16px!important;
}
.like_title {
	font-weight: bold;
	font-size: 18px!important;
}
.editor_banner {
	margin-bottom: 30px;
	padding: 10px 0;
	background-color: #fdc92c;
}
.entry-title {
	margin-bottom: 10px;
}
h2.entry-title {
	margin-top: 0;
}
.editor_pick_cont {
	text-align: center;
}
.editor_pick_cont .icon {
display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.editor_pick_cont .icon img {
   width: auto;
  height: 100%;
  margin-left: -33px;
  max-width: none;
}
.editor_pick_cont p {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
}
.editor_top_picks .row {
	margin-bottom: 20px;
}
.editor_top_picks .left {
	position: relative;
}
.left_bd:after {
	position: absolute;
	top:0;
	right: 0;
	height: 100%;
	width: 2px;
	background-color: #666;
	content: '';
}
.editor_top_picks .details {
	margin-top: 20px;
}
.home_title,
h2.entry-title,
.editor_pick_cont p,
h1.entry-title,
.like_title {
	font-family: "bebas";
}
.hamburger {
	display: none;
}
.menu-toggle.toggled-on {
	background-color: #fff!important;
}
.author {
	color: #666;
	font-size: 12px!important;
}
.home_title {
	font-weight: bold;
	font-size: 18px!important;
}
article p {
	font-size: 16px!important;
}
article .author {
	margin-top: -5px;
	font-size: 14px!important;
}
.curl_left:before, .curl_right:after,
.curl_left:after, .curl_right:before {
	position: absolute;
	top: 50%;
	font-size: 40px;
	line-height: 0;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	-o-transform: translateY(-50%);
 	transform: translateY(-50%);
}
.curl_right:before, .curl_left:before {
	content: "{";
	left: -20px;
}

.curl_left:after, .curl_right:after {
	content: "}";
	right: -20px;
}
.page-header {
	text-align: center;
	margin: 0 0 50px;
	border-top: 4px solid transparent;
}
article {
	width: 90%;
	margin: 0 auto;
}
.entry-header {
	margin: 0!important;
}
.site-footer {
	padding: 0;
}
.site-footer .site-inner {
	width: 100%;
}
.footer_bottom {
	display: block;
	width: 100%;
	background-color: #000;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 0 35px;
}
.footer_area {
	width: 100%;
		background-color: #fdc92c!important;
}
.footer_area .col {
	width: 33.33%;
	float: left;
	padding: 30px 0;
}
.footer_area .col .content_f {
	width: 60%;
	margin: 0 auto;
}
.footer_area .col .content_f h3 {
	margin-bottom: 10px;
	font-family: "Gotham";
}
.footer_area .col .content_f p {
	margin-bottom: 0;
	font-size: 14px;
}
.footer_area .col .content_f .social_links {
	margin-left: 0;
}
.footer_area .col .content_f .social_links li {
	display: inline-block;
	list-style-type: none; 
	font-size: 28px;
	margin-right: 10px;
}
.footer_area p,
.footer_area a,
.footer_area i {
	color: #000;
}
p {
    color: #000!important;
}
.addtoany_header {
	font-weight: bold!important;
	margin-bottom: 5px!important;
}
.addtoany_share_save_container {
	margin-bottom: 20px!important;
}
.no-sidebar .comments-area {
	margin: 0 5%!important;
}
@media screen and (min-width: 61.5625em) {
body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    margin-right: 0;
    margin-left: 0;
	width: 100%;
}
}
@media only screen and (max-width: 992px) {
    .left_bd:after {
        display: none;
    }
	.es_textbox {
		margin: 0 20px;
	}
	.post-thumbnail {
		margin: 0;
	}
	.curl_left, .curl_right {
		display: none;
	}
	.menu-toggle {
		padding: 15px 10px 5px;
		font-size: 20px;
	}
	.main-navigation .primary-menu > li {
		text-align: center;
	}
	.editor_top_picks .left:after {
		display: none;
	}
	.home_page {
		width: 90%;
		margin: 0 auto;
	}
	.footer_area {
		text-align: center;
	}
	.footer_area .col,
	.footer_area .col .content_f {
		width: 100%;
		float: none;
	}
}
@media only screen and (max-width: 909px) {
	.hamburger {
		display: block;
	}
		.main-navigation ul li {
		display: block;
	}
}